<div class="container">
<div class="main-container">
  <p class="title" > 1 USD <span>=</span> {{uahToUsd}}  </p>
  <p class="title">1 EUR <span>=</span> {{uahToEur}}</p>
</div>
<hr style="width:100%">
<div class="main-container">
  <div class="selection-container">
    <input #c3  min="1" type="text" (mouseleave)="amounts(c3.value)" required>
    <select #c1 name="" id="country1" (mouseleave)="changebase(c1.value)">
      <option value="USD">US dollar</option>
      <option value="EUR">Euro</option>
      <option value="UAH">Ukranian Grivna</option>
    </select>
    <p class="title">  to </p>

    <select #c2  name="" id="country1" (mouseleave)="tocountry(c2.value)">
      <option value="USD">US dollar</option>
      <option value="EUR">Euro</option>
      <option value="UAH">Ukranian Grivna</option>
    </select>
  </div>
  <button (click)="convert()"> Submit</button>
  <div class="result-container">
    <p class="title">{{base}} <span>=</span>{{result}} {{cont2}}</p>


  </div>
</div>
</div>
