.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 750px;
  align-items: center;
  background-color:cadetblue;
  margin-left: auto;
    margin-right: auto;
    background-image:url(../img/1616440121_33-p-karta-mira-fon-42.jpg) ;

}
.main-container {
 background-color:antiquewhite;
  width: 750px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

